@font-face {
    src: url('assets/font/OpenSans-Light-webfont.eot') format('embedded-opentype');
    src: url('assets/font/OpenSans-Light-webfont.svg') format('svg'),
         url('assets/font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('assets/font/OpenSans-Light-webfont.woff') format('woff');
    font: {
        family: 'Open Sans Light';
        weight: normal;
        size: normal;
    }
}

//COLORS
$red:#e53d27;
$white: #fff;
$fairgrey: #9b9a98;
$black: #000;
$darkgrey : #2b2b2b;

html
{
    background-color: #f0f0f0;
}

figure
{
    width: 400px;
    max-height: 600px;
    font-family: 'Open Sans Light';
    &:hover {
        box-shadow: 10px 10px 10px $darkgrey;
    }
}
//Picture

h3
{
    color: $red;
}
//Red rectangle
.photos
{
    background: $red;
    color: $white;
    text-align: center;
    padding: 5px 5px;
    width: 70px;
}

a
{
    text-decoration: none;
    color: $fairgrey;
}