@font-face {
    src: url('assets/font/OpenSans-Light-webfont.eot') format('embedded-opentype');
    src: url('assets/font/OpenSans-Light-webfont.svg') format('svg'),
         url('assets/font/OpenSans-Light-webfont.ttf') format('truetype'),
         url('assets/font/OpenSans-Light-webfont.woff') format('woff');
    font: {
        family: 'Open Sans Light';
        weight: normal;
        size: normal;
    }
}

//COLORS
$red:#e53d27;
$white: #fff;
$grey: #9b9a98;
$black: #000;

html
{
    background-color: #f0f0f0;
}

.india
{
    width: 400px;
    height: 300px;
    &:hover {
        opacity: 0.5;
        box-shadow: 10px 10px 10px $grey;
    }
}

figcaption
{   
    display: flex;
    flex-direction: column;
    background-color: $white;
    width: 360px;
    height: 200px;
    padding: 20px;
    font-family: 'Open Sans Light';
}

.hide
{
    visibility: hidden;
}

section
{
    
}